<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      Project Summaries by Christian Satzky
    </title>
    <meta property="og:title" content="Project Summaries by Christian Satzky"/>
    <meta property="og:locale" content="en_US"/>
    <meta name="description" content="Research and Projects Related to Asset Pricing, Factor Investing, and Estimation of Market Risk."/>
    <meta property="og:description" content="Research and Projects Related to Asset Pricing, Factor Investing, and Estimation of Market Risk." />
    <link rel="canonical" href="https://christiansatzky.com/" />
    <meta property="og:url" content="https://christiansatzky.com/" />
    <meta property="og:site_name" content="Christian Satzky" />
    <meta property="og:type" content="website" />
    <link rel="icon" type="image/x-icon" href="cs-favicon.svg.svg?raw=true"/>
    <link rel="apple-touch-icon" href="cs-favicon.svg.svg?raw=true"/>
    <meta property="og:image" content="https://www.christiansatzky.com/images/christian-satzky-seo-card.png?raw=true"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="@ChritianSa437"/>
    <meta name="twitter:title" content="Project Summaries by Christian Satzky"/>
    <meta name="twitter:description" content="Research and Projects Related to Asset Pricing, Factor Investing, and Estimation of Market Risk."/>
    <meta name="twitter:image" content="https://www.christiansatzky.com/images/christian-satzky-seo-card.png?raw=true"/>
    
    <script type="application/ld+json">
      {"@context":"https://schema.org","@type":"WebSite","description":"Projects by Christian Satzky — Empirical asset pricing, factor investing, and estimation of market risk.","headline":"Project Summaries","name":"Christian Satzky","publisher":{"@type":"Organization","logo":{"@type":"ImageObject","url":"https://christiansatzky.com/images/logo.png?raw=true"}},"url":"https://christiansatzky.com/"}
    </script>    
    
<!-- {% seo %} -->
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
    
    <style>
    a {
    color: #069 !important;
    }

    body {
    font-family: Roboto, "Helvetica Neue", Helevetica, Arial, sans-serif !important;
    }

    h3 {
    line-height: 1.35 !important;
    font-size: 1.25rem !important;
    color: #000000 !important;
    } 
    </style>
      
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="https://www.linkedin.com/in/christian-satzky/" target="_blank">Christian Satzky</a></h1>
        
        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>
  <br>
  Statistical Programmer, Economist
  <br><br>
  Certified FRM
  <br><br>
  UniCredit CIB Markets
  <br><br>
  <a href="https://www.linkedin.com/in/christian-satzky/" target="_blank">View My LinkedIn Profile</a></p>

        {% if site.github.is_project_page %}
        <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ site.github.repository_nwo }}</small></a></p>
        {% endif %}

        {% if site.github.is_user_page %}
        <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
        {% endif %}

        {% if site.show_downloads %}
        <ul class="downloads">
          <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
          <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
          <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
        </ul>
        {% endif %}
      </header>
      <section>

      {{ content }}

      </section>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
